

#body2{
  background: black;
}


#texto2{
  position: absolute;
  padding: 10%;
  left: 10%;
  color: black;
  font-size: 250%;
}

.div2{
  height: 400px;
  width: 400px;
  background:beige; 
}

.oval-half-red2 {
  
  position: relative;
  top:400px;
  width: 350px;
  height: 200px;
  -moz-border-radius: 0 50% / 0 100%;
  -webkit-border-radius: 0 50% / 0 100%;
  border-radius: 0 50% / 0 100%;
  background: #5cb85c;
  border: 3px solid #555;
}

.container{
  margin:0 auto;
  text-align: center
}
h1{
  font-family: 'raleway';
  font-size:40px;
  margin-bottom: 100px;
}



